
// colors
$primary-color: orange;
$primary-color-alt: mediumpurple;
$accent-color-1: REBECCAPURPLE;

// images
$main-background: "../images/bats.jpg";

// fonts
$primary-font: 'Shadows Into Light', cursive;

// gifs
$primary-gif: "../images/davidPumpkins.gif";